* {
    margin: 0;
    padding: 0;
}

.fundo {
    background-color: rgb(6, 55, 6);
    height: 100vh;
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif
}

.calculadora {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px;

}

.botao {
    width: 50px;
    height: 50px;
    font-size: 25px;
    cursor: pointer;
    margin: 3px;
    background-color: rgb(31, 31, 31);
    border: none;
    color: white;
}

.botao:hover {
    background-color: rgb(10, 10, 10);
}

.botao2 {
    width: 50px;
    height: 50px;
    font-size: 25px;
    cursor: pointer;
    margin: 3px;
    background-color: rgb(23, 76, 23);
    border: none;
    color: white;
}

.botao2:hover {
    background-color: rgb(14, 36, 14);
}

.botao3 {
    width: 50px;
    height: 50px;
    font-size: 25px;
    cursor: pointer;
    margin: 3px;
    background-color: rgb(177, 19, 19);
    border: none;
    color: white;
}

.botao3:hover {
    background-color: rgb(92, 4, 4);
}

#resultado {
    background-color: white;
    width: 214px;
    height: 30px;
    margin: 5px;
    font-size: 25px;
    color: black;
    text-align: right;
    padding: 5px;
}